<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pointhub">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/smartpoints_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".login.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".login.MainActivity_login" android:screenOrientation="portrait"/>
        <activity android:name=".earnredeemtab.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PointListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".db.Createdb" android:screenOrientation="portrait"/>
        <activity android:name=".wifidirect.WifiDirectSend" android:screenOrientation="portrait"/>
        <activity android:name=".db.Detaildb" android:screenOrientation="portrait"/>
        <activity android:name=".FaqExpandable" android:screenOrientation="portrait"/>

        <service
            android:name=".wifidirect.Service.DataTransferService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Navigation"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TermsAndConditions"
            android:label="@string/title_activity_terms_and_conditions"
            android:theme="@style/AppTheme" android:screenOrientation="portrait"/>

        <activity
            android:name=".Privact_policy"
            android:label="@string/title_activity_privact_policy"
            android:theme="@style/AppTheme" android:screenOrientation="portrait"/>

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" android:screenOrientation="portrait"/>
    </application>

</manifest>